* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
.container {
    width: 95%;
    margin: auto;
    padding: 20px 0;
}
/* UPGRADE PART */
.upgrade {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    background-color: rgba(0,0,0,0.4);
}
.btn-up {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
}
.btn-up:hover {
    transform: scale(1.1);
}
.btn-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 100px);
}
.main-nav {
    overflow: hidden;
    float: left;
    width: 250px;
    height: 100%;
    background-color: #000000;
}
.main-content {
    overflow: hidden;
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    padding-top: 120px;
    background-color: #141922;
}
.menu {
    height: 50px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
}
.btn-menu {
    color: #6f7177;
    text-decoration: none;
    font-weight: 900;
}
.btn-menu:hover::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    margin: 5px auto;
    background-color: #adff2f;
}
/* recently played part */
.album-container {
    display: flex;
    margin: 30px 0;
}
.single-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
}
/* FOOTER */
footer {
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: #282828;
}